body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  padding: 20px 0;
  background-color: #111;
}

.logo {
  position: absolute;
  left: 32px;
  top 20px;
  font-family:'Lobster', cursive;
  font-size: 36px;
  color: white;
  
}

.nav a {
  color: white;
  text-decoration: none;
  margin: 20px;
  font-size: 18px;
}

.nav a:hover {
  text-decoration:underline;
}

.logo img {
  height:40px;
  width: auto;
}

.nav a:hover {
  text-decoration: underline;
}
